<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>使用v-model</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.40/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <form @submit.prevent="confirm">
        账号：<input type="text" v-model="userInfo.account" /> <br /><br />
        密码：<input type="password" v-model="userInfo.password" /> <br /><br />
        年龄：<input type="number" v-model="userInfo.age" /> <br /><br />
        性别： 男<input
          type="radio"
          name="sex"
          v-model="userInfo.sex"
          value="male"
        />
        女<input
          type="radio"
          name="sex"
          v-model="userInfo.sex"
          value="female"
        />
        <br /><br />
        爱好： 学习<input
          type="checkbox"
          v-model="userInfo.hobby"
          value="study"
        />
        打游戏<input type="checkbox" v-model="userInfo.hobby" value="game" />
        吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat" />
        <br /><br />
        所属校区
        <select v-model="userInfo.city">
          <option value="">请选择校区</option>
          <option value="beijing">北京</option>
          <option value="shanghai">上海</option>
          <option value="shenzhen">深圳</option>
          <option value="wuhan">武汉</option>
        </select>
        <br /><br />
        其他信息：
        <textarea v-model="userInfo.other"></textarea> <br /><br />
        <input type="checkbox" v-model="userInfo.agree" />阅读并接受<a
          href="http://www.atguigu.com"
          >《用户协议》</a
        ><br /><br />
        <button>提交</button>
      </form>
      <div>预览:{{userInfo}}</div>
    </div>
    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            userInfo: {
              account: '',
              password: '',
              age: 18,
              sex: 'female',
              hobby: ['study'],
              city: 'beijing',
              other: '',
              agree: false,
            },
          }
        },

        methods: {
          confirm() {
            alert(`提交注册请求 用户信息: ${JSON.stringify(this.userInfo)}`)
          },
        },
      }).mount('#app')
    </script>
  </body>
</html>
